*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'josefin Sans',sans-serif ;

}
nav .menu a:first-child{
	color: #00b894;
}
header{
	width: 100%;
	height: 800px;;

	/* background-image:linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0, 0.3)),url('KPK.jpg'); */
    animation: changephoto 10s infinite linear;
	background-repeat: no-repeat;
    background-size:cover;
    object-fit:cover;


}

nav{
	width: 100%;
	height: 15vh;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
nav .Logo{
	width: 25%;
	text-align: center ;
	/*background: red;*/
}

nav .menu{
	width: 40%;
	/*background: yellow;*/ 
	display: flex;
	justify-content: space-around; 
	font-weight: bold;

}
nav .menu a{
	width: 25%;
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: space-between;
}
#link:hover{
	color:#00b894;
}
main{
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center ;
	color: white;
}

section{

}
section h3{
	font-size: 35px;
	font-weight: 200;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black  ;
}
section h1{
	margin: 30px 0 20px 0;
	font-size: 55px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;

}
section p{
	font-size: 25px ;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;

}
section a{
	padding:12px  30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;

}

section .button1{
	/*background: #00b894;*/
	background: #fff;
	color: black;
}
.button1:hover{
	background: #00b894;
	color: white;

}
.button2:hover{
	background: #fff;
	color: black;
}
section .button2{
	background: #00b894;
	color: white;
}
header:after{
	background-image:linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0, 0.1)),url('');
	animation: changephoto 10s infinite linear;
}
@keyframes changephoto
{
	0%{
		background-image:linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0, 0.1)),url('badshahi mosque.jpg');
	}
	20%{
		background-image:linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0, 0.1)),url('swat.jpg');
	}
	40%{
		background-image:linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0, 0.1)),url('https://photoviewer.site/dpl/H5IkVndumG7K7gu3Gd%2FHQFwCD2K01kvDcLRr8AUf5uaDjkG7lQNwNNZua9NjWa6Ces324%2FqYc4boRlT2Jlx0Fr%2BCxDw41zrgAmoSDq2VpsTT5iU5a67arjd7VFVp5n%2FlaGwiDY4rpZ0iX7LT1ERljIdV%2FiFUwcNg4knYnESycICG7pHdP%2FOwGJGgwgBvxD%2BA4QOlamq5dQw8L3Klc2JfQtXC1gaD1HNNmrdsWl7LAbtDOIJeCzcycUS%2BLFVdPrX6');
	}
	60%{
		background-image:linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0, 0.1)),url('Islamabad.jpg');
	}
	80%{
		background-image:linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0, 0.1)),url('Muree.jpg');
	}
	100%{
		background-image:linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0, 0.1)),url('Peshawar.jpg');
	}

} 
.change_content:after{
	content: '';
	animation: changetext 10s infinite linear;
	color: #00b894;
}
@keyframes changetext{
	0%{
		content: "Lahore";
	}
	20%{
		content: "Swat";
	}
	40%{
		content: "Karachi";
	}
	60%{
		content: "Islamabad";
	}
	80%{
		content: "Muree";
	}
	100%{
		content: "Peshawar";
	}
	

}
@keyframes heartbeat {
  0% {
    font-size: 2em;
  }
  20% {
    font-size: 1em;
  }
  40% {
    font-size: 2em;
  }
  60% {
    font-size: 1em;
  }
  80% {
    font-size: 2em;
  }
  100% {
    font-size: 2em;
  }
}
.heartbeat {
  animation: heartbeat 2s infinite;
}